@font-face {
    font-family: 'Balonku';
    src: url("/landing-page-for-gf/BalonkuRegular-la1w.otf") format("opentype");
}

*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: arial, sans-serif;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image: url('/landing-page-for-gf/img/photo-collage.png.jpg');
	background-size: cover; /* This will ensure the image covers the entire background */
	background-repeat: no-repeat; /* This will prevent the image from repeating */
	background-position: center; /* This will center the image */
}
.section-1 {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.s-box {
	width: 580px;
	margin: 0px auto;
	position: relative;
	text-align: center;
}
.s-box .s-input {
	display: block;
	border: 1px solid #ddd;
	color: rgba(0,0,0, 0.87);
	font-size: 16px;
	padding: 13px;
	padding-left: 19px;
	border-radius: 25px;
	width: 100%;
	transition: box-shadow 100ms;
	outline: none;
	height: 60px;
}

.s-box  .s-input:hover {
	border: 1px solid #fff;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.05), 
				0 0 2px rgba(0, 0, 0, 0.05),
				0 0 3px rgba(0, 0, 0, 0.05),
				0 0 4px rgba(0, 0, 0, 0.05), 
				0 0 5px rgba(0, 0, 0, 0.05), 
				0 0 4px rgba(0, 0, 0, 0.05), 
				0 0 5px rgba(0, 0, 0, 0.05)
}
.s-box .search-icon {
	width: 50px;
	opacity: .4;
	position: absolute;
	top: 8px;
	left: 8px;
}
.s-box .vs-icon {
	width: 14px;
	position: absolute;
	top: 13px;
	right: 24px;
}

.lang {
	margin-top: 30px;
	text-align: center;
	font-size: 13px;
	color: #111;
}
.lang a {
	margin-left: 5px;
	color: #1a0dab;
}
.lang a:hover {
	text-decoration: underline;
}

#messageDiv {
	font-size: 40px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	font-family: 'Balonku';
	color: black; 
	/* text-shadow:
	-1px -1px 0 #000,  
	 1px -1px 0 #000,
	-1px  1px 0 #000,
	 1px  1px 0 #000;  Adjust the color and offset as needed */
}
